<!doctype html>
<html class='no-js' lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="theme-color" content="#000000">
  </head>
  <body>
  </body>
</html>
