body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 0.8125rem;
}

canvas {
  border: none;
  padding: 0;
  margin: 0;
}
.control {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  color: #bbb;
  border: 1px solid rgba(255,255,255,0.2);
  margin: 16px;
  padding: 8px;
  cursor: pointer;
  &:hover {
    color: white;
    border: 1px solid #fafafa;
    box-shadow: 0px 0px 1px 0px #fafafa;
  }
  &.links {
    top: 2px;
  }
  &.mouse-follow {
    top: 36px;
  }
}



